<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <title>Blog App</title>
</head>

<body>



    <!---Main section-->
    <%for(b of blogs){%>
        <div class="conatiner">
            <div class="row">
                <div class="col col-md-12 col-sm-12">
                    <div class="card">
                        <img src="<%=b.Image%>" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">
                                <%=b.Title%>
                            </h5>
                            <h5 class="card-title">
                                <%=b.Author%>
                            </h5>
                            <p class="card-text">
                                <%=b.Description%>
                            </p>
                            <div class=text-center>
                                <a href="/blogs/<%=b.id%>" class="btn btn-primary">Show</a>
                                <a href="/blogs/<%=b.id%>/edit" class="btn btn-primary">Edit</a>
                                <!-- <a href="/" class="btn btn-primary">Delete</a> -->

                                <form method="POST" action="/blogs/<%= b.id %>?_method=DELETE ">
                                    <button type="submit">Delete</button>
                                </form>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <%}%>

</body>

</html>