<!----Navbar -->
<%- include("../partials/navbar") %>

    <!----Header of the page-->
    <%- include("../partials/header") %>

        <!---Card to display content-->



        <div class="card border text-center mt-3" style="width: 30rem; margin: 20px auto;">
            <h5 class=" card-title">
                <%=blog.name%>
            </h5>
            <img class="card-img-top" src="<%=blog.img%>" alt="Image not found">
            <div class="card-body">

                <p class="card-text">
                    Description: <%=blog.desc%>
                </p>
                <h5 class="card-text">
                    Location :<%=blog.location%>
                </h5>
                <h5 class="card-text">
                    Highlights:<%=blog.highlights%>
                </h5>
                <h5 class="card-text">
                    Cost for two: <%=blog.cost%>
                </h5>
                <h5 class="card-text">
                    Time:<%=blog.time%>
                </h5>
                <!--to go back to the blogs-->
                <a href="/blogs" class="btn btn-primary">Go Back</a>
                <!----to edit the blog-->
                <a href="/blogs/<%=blog._id%>/edit" class="btn btn-warning">Edit</a>
                <!---to delete the blog-->
                <form style="display: inline-block;" action="/blogs/<%=blog._id%>?_method=DELETE" method="POST">
                    <button class="btn btn-danger">Delete</button>

                </form>
                <!-----to book a table-->
                <a href="/blogs" class="btn btn-dark">Booking</a>
            </div>
        </div>

        <!-- //============================================================= -->

        <h1>Leave a review</h1>
        <!-- rating  -->

        <div class="mb-3">

            <label for="rating" class="form-level">
                Rating
            </label>
            <input type="range" class="form-range " name="rating" id="" min="0" max="5">
        </div>

        <!-- to set a review -->
        <!-- create a form -->

        <form class="validated-form" action="/blogs/<%=blog._id%>/review" method="POST"
            style="max-width:70%; margin: 10px auto" novalidate>

            <div class="mb-3">
                <label for="desc" class="form-label">Description</label>
                <textarea class="form-control" name="comment" required id="desc" cols="30" rows="5"></textarea>
            </div>

            <button type="submit" class="btn btn-success">Submit</button>
        </form>
        <div class="mb-3 mt-3">
            <% for(let review of blog.reviews){%>

                <div class="card mb-3">
                    <div class="card-header">
                        User
                    </div>
                    <div class="card-body">

                        <!-- <%=review.rating%> //check here -->
                        <h5 class="card-title">Rating:</h5>
                        <!-- <%=review.comment%>//check here -->
                        <p class="card-text">Comment:
                        </p>

                    </div>
                </div>
                <%}%>
        </div>
        </div>

        <!-----Footer of the blog-->
        <%- include("../partials/footer") %>